body {
    background-color: #000;
    font-size: 16px;
    color: white;
    margin: 0;
    padding: 20px;
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}